<div class="container mx-auto">
  <div class="flex justify-between items-center px-4 py-3 bg-gray-100">
    <div class="flex items-center">
      <h1 class="text-3xl font-bold">Projects</h1>
    </div>
    <div class="flex items-center">
      <%= link_to new_project_path, class: "mr-4" do %>
        <i class="fas fa-plus-circle mr-2"></i>
        New Project
      <% end %>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <i class="fas fa-sign-out-alt mr-2"></i>
        Logout
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <% @projects.each do |project| %>
      <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4"><%= project.name %></h2>
        <p class="mb-4"><%= project.description %></p>
        <a href="<%= project_path(project) %>" class="block text-blue-500 font-bold hover:text-blue-700">View Project</a>
      </div>
    <% end %>
  </div>
</div>
